{% extends 'menu.html' %}
<!-- <!doctype html>
<html>
<head>
	<title>Second HTML page</title>
</head>
<body>
	-->
	
	<center>
		<h1><u>tomukeshrajput@gmail.com</u></h1>
		<h1>Data structure</h1>
	</center>
		<h2>What is data Structure?</h2>
		<p><i><mark style="background-color:red;">
		In <b>computer science</b>,a <b> data structure</b> is a<strong>dataorganization</strong>,management, and storage format that enables efficient access and 		modification.<br>
		More precisely, a data structure is a collection of data values,the.
		<mark></i>
		</p>

		<p><center style="font-size:30px;">or</center></p>
		<p><small>

		<del>A <em>data structure</em> is a specialized formatfor organizing,processing,retrieving and storing data.</del><ins><br>While there are 		several basic and advanced structure types, any data structure is designed to arrange 
		data to suit a specific purpose so that it can be accessed and worked with in appropriate ways.</ins>
		</small></p>
		<pre>
		Twinkle Twinkle Little Star,
		how i wonder what you are,
		Up upon the world so high,
		Like a diamond in the sky.
		</pre>
		<p>2x<sup>2</sup>+2x+2</p>
		<p>X<sub>1</sub>-X<sub>2</sub>=100</p>
		<p>log<sub>2</sub>n</p>
		{% block content %}

		{%  endblock %}
		<!--
</body>
</html>
		-->
